<div class="span4 side_bar">
<div class=" trees">
  <header class="ui-mini-header letter_pressed">
    <h5 class="light_header p"><i class="icon-thumbs-up"></i> Recommended
    </h5>
  </header>
  <ul class="tree_list nav">
    <li class="info_block">
      <a class="avatar">
        <img src="/assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>
    <li class="info_block">
      <a class="avatar">
        <img src="/assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>
    <li class="info_block">
      <a class="avatar">
        <img src="/assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>

    <li class="info_block">
      <a class="avatar">
        <img src="/assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Glo Mobile</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>
  </ul>
  <p class="meta anchor">
    <span class="badge badge-warning">13</span> more
    <a href="#" class=""> see all <i class="icon-caret-down"></i></a>
  </p>
</div>

<div class=" trees">
  <header class="ui-mini-header letter_pressed">
    <h5 class="light_header p"><i class="icon-money"></i> Sponsored
    </h5>
  </header>
  <ul class="tree_list nav">
    <li class="info_block">
      <a class="avatar">
        <img src="assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>
    <li class="info_block">
      <a class="avatar">
        <img src="/assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>
    <li class="info_block">
      <a class="avatar">
        <img src="/assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>

    <li class="info_block">
      <a class="avatar">
        <img src="/assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Glo Mobile</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>
  </ul>
  <p class="meta anchor">
    <span class="badge badge-warning">13</span> more
    <a href="#" class=""> see all <i class="icon-caret-down"></i></a>
  </p>
</div>

<div class="users">
  <header class="ui-mini-header letter_pressed">
    <h5 class="light_header p"><i class=" icon-group"></i> Connect With...
    </h5>
  </header>
  <ul class="lv">
    <li class="user">
      <a class="avatar">
        <img src="/assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="uinfo">
        <h6 class="light_header ui-inline-text"><a href="#">Samuel Peter</a></h6>
        <p class="meta">joined <span class="date"> 2 years ago,</span> <a href="#">branch manager.</a></p>

      </div>
    </li>
  </ul>
  <p class="meta anchor">
    <span class="badge badge-warning">13</span> more
    <a href="#" class=""> see all <i class="icon-caret-down"></i></a>
  </p>
</div>
</div>