<%= content_for :publisher_content do %>
    <div class="row">
      <div class="span12">
        <div id="main" class="extra-margin-top">
          <ul id="tiles">
            <%= render @sub_branches %>
          </ul>
        </div>
      </div>

    </div>
<% end %>