<center>
<form name=faqform>
<table border=1 cellspacing=0 cellpadding=5 style="width: 700px;">
<tr bgcolor="#1B62A9">
  <td align=left><font face="verdana,arial" size="-1" color="#ffffff">
    <b>Frequently Asked Questions Page </b></font></td>
</tr>
<tr bgcolor="#ffffcc"><td><font face="verdana,arial" size="-1"><br>
Browse the Frequently Asked Questions below and click for the answer.
<p>
<ul><select size=10 name=question onChange="javascript:showFAQ(this.form);" style="width: 500px;">
<option value="Gutrees is a free structured massage sharing and notification application either offline or online.">&nbsp;&nbsp;&nbsp;-->&nbsp;&nbsp;What is gutrees?
<option value="Gutrees can be used by any kind of organisation, individuals virtually anyone.">&nbsp;&nbsp;&nbsp;-->&nbsp;&nbsp;Who can use gutrees?
<option value="No, you don't pay anything to send or receive messages using Google SMS Channels. When you post a message to your channel, all the members of your channel get the message forwarded for free. SMS tariff charges may apply when you configure the service or publish to a channel using a mobile phone.">&nbsp;&nbsp;&nbsp;-->&nbsp;&nbsp;Do I pay anything for using the service?

<option value="Below is a list of supported mobile operators for Gutrees SMS Notification.

AFGHANISTAN
Afghan Wireless Communication Company
Etisalat
Roshan

Algeria
Nedjma

Angola
Movicel telecomunicações, SA.
Unitel

Bahrain
Viva
Zain

Bangladesh
Airtel
Banglalink
Citycell

Benin
ETISALAT Bénin

Botswana
Orange

Burkina Faso
Airtel

Cambodia
Cell Card
Smart

Cameroon
MTN
Orange

Congo, Brazzaville
MTN

Congo, Democratic Republic
Airtel
Vodacom

Côte d'Ivoire
MTN
Moov Cote d’Ivoire
Orange

Egypt
Mobinil

Ghana
Airtel
MTN
Tigo
Vodafone

Guam
iConnect Buddy

Guinea
Cellcom Guinea
Orange

Guinea Bissau
Orange

India
All mobile operators

Indonesia
AHA
Axis
Esia
Indosat
Smartfren
Telkomsel
Tri
XL

Iraq
Omnea
Zain

Israel
orange
Pelephone

Jordan
Orange
Umniah
Zain

Kazakhstan
Beeline
Kcell

Kenya
Airtel
orange
Safaricom
Yu

Kuwait
Viva
Wataniya
Zain

Kyrgystan
Megacom
Lao
ETL PUBLIC COMPANY

Liberia
Cellcom
Lonestar Cell MTN

Madagascar
Airtel
Telma

Malawi
Airtel
TNM

Malaysia
Celcom
DiGi
Maxis
Maldives
Dhiraagu
Wataniya

Morocco
inwi

Mozambique
mcel
Vodacom

Niger
Airtel
Moov
Orange

Nigeria
Airtel
Glo
Etisalat
MTN
Starcomms
Visafone

Oman
Nawras

Pakistan
Mobilink
Telenor
Ufone
Warid

Palestinian Territories
Jawwal
Wataniya Mobile

Philippines
Globe
SMART
Sun Cellular

Saudi Arabia
Mobily
STC
Zain

Senegal
orange
Tigo
Seychelles
Airtel

Sierra Leone
Airtel
Comium

Somalia
Somtel
Telesom

South Africa
8ta
MTN

Sri Lanka
Dialog
Etisalat
Mobitel

Tanzania
Vodacom
Tigo

Thailand
dtac
True Move

Togo
Moov Togo

Tunisia
Orange
Tunisiana

Turkey
Avea

Uganda
Orange
MTN
Uganda Telecom

Ukraine
Intertelecom

United States
All operators

Uzbekistan
Beeline
MTS Uzbekistan
Ucell

Vietnam
VinaPhone

Zambia
Airtel
MTN
Zamtel">&nbsp;&nbsp;&nbsp;-->&nbsp;&nbsp;Is sms notification supported by all mobile operators ?
<option value="All mobile numbers are treated with the highest confidentiality and are not displayed to anyone. You can read more about confidentiality">&nbsp;&nbsp;&nbsp;-->&nbsp;&nbsp;If I post messages via my mobile, will subscribers be able to view my mobile number?
<option value="By default, you will receive 10 messages each day. You can increase this limit, by going to the 'Settings' link and entering a number you are comfortable with against 'Maximum messages per day:'">&nbsp;&nbsp;&nbsp;-->&nbsp;&nbsp;How many SMS can I receive per day?

<option value="There is no limit to the number of users that can subscribe to a channel.">&nbsp;&nbsp;&nbsp;-->&nbsp;&nbsp;How many users can subscribe to a branch?

<option value="No. Only you can subscribe to a branch. Your friends/contacts can invite you to join a channel but you have to accept their invitations. By default you are subscribed to branch that you create.">&nbsp;&nbsp;&nbsp;-->&nbsp;&nbsp;Can someone else subscribe me to a branch?

</select>
</ul>
<p>
  Answer:
<p>
<ul>
  <textarea name="answer" rows=15 cols=50 wrap=virtual style="width: 500px;"></textarea>
</ul>
</font>
</td>
</tr>
</table>
</form>
</center>