<div class="secondary_nav">
<div class="top_panel">
  <div class="container-fluid">
    <div class="stamp">
      <div class="btm_shadow_l">
        <div class="shadow-top"></div>
      </div>
      <div class="stamp_wrap">
        <div class="stamp_tp"></div>
        <div class="stamp_bt"></div>
        <div class="stamp_ct">
          <img src="assets/image_6.jpg" width="140" height="140">
        </div>
      </div>
    </div>
    <div class="user_tp letter_pressed">
      <div class="user_meta">
        <a class="btn " data-toggle="dropdown" href="#">
          <i class=" icon-arrow-up"></i>
        </a>
               <span class="btn-group">
           <a class="btn dropdown-toggle " data-toggle="dropdown" href="#">
             Action
             <span class="caret"></span>
           </a>
           <ul class="top_arrowed dropdown-menu">
             <li class="dropdown-submenu">
               <a tabindex="-1" href="#">
                 <i class=" icon-share"></i>
                 share
               </a>
               <ul class="dropdown-menu">
                 <li>
                   <a href="#">
                     <i class=" icon-facebook"></i>
                     facebook
                   </a>
                 </li>
                 <li>
                   <a href="#">
                     <i class=" icon-twitter"></i>
                     twitter
                   </a>
                 </li>
                 <li>
                   <a href="#">
                     <i class=" icon-google-plus"></i>
                     google plus
                   </a>
                 </li>
               </ul>
             </li>
             <li>
               <a href="#">
                 <i class="icon-bookmark"></i>
                 bookmark
               </a>
             </li>
             <li>
               <a href="#">
                 <span class="leaf-remove">
                 <i class="icon-leaf"></i>
                 <i class=" icon-remove-sign"></i>
                 </span>
                 branch out
               </a>
             </li>
             <li>
               <a href="#" class="important">
                 <i class="icon-flag"></i>
                 report
               </a>
             </li>
           </ul>
         </span>
      </div>
      <form class="form-inline search pull-left">
        <div class="input-append">
          <input type="text" class="input-xlarge" placeholder="search">
          <button type="submit" class="btn"><i class="icon-search"></i></button>
        </div>
      </form>
      <button  class="btn btn-warning">
                         <span class="leaf-add">
                 <i class="icon-leaf"></i>
                 <i class=" icon-plus"></i>
                 </span>
      </button>
      <h5 class="light_header name ui-text-inline"> <span class="verified"><i class="icon-ok"></i></span> St Gabriel Church</h5>
      <div class="btm_shadow_r span10">
        <div class="shadow-top"></div>
      </div>
    </div>


    </div>
  </div>
  <div class="container-fluid">
  <div class="row-fluid a_main user">
  <aside class=" left_panel">
    <div class="shadow-top"></div>
    <div class="left_panel_wrap">
      <div class="inner">

        <div class="a_info">
          <div class="divider-horizontal"></div>
          <div class="a_nav">
            <ul class="nav nav-list">
              <li class="active"><a href="#"><i class="icon-reorder"></i>&nbsp;Latest</a></li>
              <li><a href="#"><i class="icon-pencil"></i>&nbsp;Edit</a></li>
              <li><a href="#"><i class="icon-leaf"></i>&nbsp;Branch ins<label class="badge badge-warning">68</label></a></li>
              <li><a href="#"><i class="icon-sitemap"></i>&nbsp;Branches<label class="badge badge-success">68</label></a></li>
              <li><a href="#"><i class="icon-user-md"></i>&nbsp;Admins<label class="badge">68</label></a></li>
              <li><a href="#"><i class="icon-info-sign"></i>&nbsp;About</a></li>
           </ul>
            <div class="divider-horizontal"></div>

            <div class="btns">
              <button class="btn btn-warning btn-block"  data-target="#post-modal" data-toggle="modal">
                <i class="icon-plus"></i> new post</button>
            </div>
            <div class="divider-horizontal"></div>
          <div class="branch_head letter_pressed">
            <a class="avatar">
              <img src="assets/avatar.jpg" class="avatar_shadow little-rounded " height="50" width="50">
            </a>
            <div class="uinfo">
              <h6 class="light_header ui-inline-text"><a href="#">Samuel Peter</a></h6>
              <p class="meta">joined <span class="date"> 2 years ago,</span> <a class="role" href="#">branch head.</a></p>

            </div>
          </div>
        </div>
      </div>
    </div>
            </div>
  </aside>
  <section class=" center_panel">
  <div class="container-fluid">
  <div class="row">
  <div class="span8  branch_post">
    <div id="post-modal" class="modal hide fade">
      <div class="modal-header">
        <h5 class="light_header ui-text-inline letter_pressed">What's new?
          <div class="controls btn-group pull-right">
            <button class="btn"><i class="icon-picture"></i></button>
            <button class="btn"><i class="icon-calendar"></i></button>
          </div></h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="shadow-wrap">
          <div class="shadow-top"></div>
        </div>
      </div>
      <div class="modal-body ">
        <div class="post_input_container">
          <div class="post_input_inner">
            <div class="post_input">
              <div class="post_input_title">
                <label>Title</label>
                <input type="text">
              </div>
              <div class="post_input_body">
                <label>Details</label>
                <textarea ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="shadow-wrap">
          <div class="shadow-bottom"></div>
        </div>
        <button class="btn btn-primary">
        <i class="icon-share-alt"></i>
        post
      </button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  <div class="posts">

    <div class="post">
      <div class="post_container">
        <header>
          <div class="btn-group">
            <a class="btn  dropdown-toggle btn-small" data-toggle="dropdown" href="#">
              <i class=" icon-caret-down"></i>
            </a>
            <ul class="dropdown-menu top_arrowed">
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">
                  <i class=" icon-share"></i>
                  share
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">
                      <i class=" icon-facebook"></i>
                      facebook
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class=" icon-twitter"></i>
                      twitter
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class=" icon-google-plus"></i>
                      google plus
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">
                  <i class="icon-bookmark"></i>
                  bookmark
                </a>
              </li>
              <li>
                <a href="#" class="important">
                  <i class="icon-flag"></i>
                  report
                </a>
              </li>
            </ul>
          </div>
          <div class="post_title">
            <h5 class="light_header"><a href="#">Relevant to me for the month of October according to Google.</a></h5>
            <p class=" meta">
              <span class="time" title="2nd October, 2012"><i class="icon-time"></i>15:55 </span>
              <span class="separator">&nbsp;  |  &nbsp;</span>
              <span class="post_type"><i class="icon-picture"></i> Photo</span>
            </p>
          </div>
        </header>
        <div class="divider-horizontal"></div>
      <div class="post_body">
        <p>
          Extension of my life - The Internet - also the place where I met most of these fabulous people through sheer...serendipity.
        </p>

      </div>

      <a class="post_image">
        <div class="shadow-top"></div>
        <img src="assets/image_10.jpg"/>
      </a>
      <div class="post_comments">
        <div class="post_comments_inner">

          <p class="meta letter_pressed">
            <span class="comment_count"><i class=" icon-comments-alt"></i> 30 comments</span>
            <a href="#" class="comment_anchor"><i class="icon-caret-down"></i> see all</a>
          </p>
          <div class="post_comment">
            <a class="avatar">
              <img src="assets/image_4.jpg" width="32" height="32" class="avatar_shadow light-rounded" />
            </a>
            <div class="post_comment_data">
              <header>
                <h6 class="light_header ui-inline-text ui-inline letter_pressed"><a href="#">Cynthia</a></h6>
                <span class="meta letter_pressed time"> 12:30</span>
              </header>
              <p class="comment_body letter_pressed">
                I see dead deer on the back of trucks all the time right now.﻿
              </p>
            </div>
          </div>
          <div class="divider-horizontal"></div>
          <div class="post_comment">
            <a class="avatar">
              <img src="assets/avatar.jpg" width="32" height="32" class="avatar_shadow light-rounded" />
            </a>
            <div class="post_comment_data">
              <header>
                <h6 class="light_header ui-inline-text ui-inline letter_pressed">
                  <a href="#">Paul</a></h6>
                <span class="meta letter_pressed time"> 12:30</span>
              </header>
              <p class="comment_body letter_pressed">
                So in Utah, where I live, we have the Deer Hunt going on right now. I see dead deer on the back of trucks all the time right now.﻿
              </p>
            </div>
          </div>
          <div class="divider-horizontal"></div>
          <div class="comment_input">
            <input class="" type="text" placeholder="Add a comment..."/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="post">
    <div class="post_container">
      <header>
        <div class="btn-group">
          <a class="btn  dropdown-toggle btn-small" data-toggle="dropdown" href="#">
            <i class=" icon-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <!-- dropdown menu links -->
          </ul>
        </div>
        <div class="post_title">
          <h5 class="light_header"><a href="#">Relevant to me for the month of October according to Google.</a></h5>
          <p class=" meta">
            <span class="time" title="2nd October, 2012"><i class="icon-time"></i>15:55 </span>
            <span class="separator">&nbsp;  |  &nbsp;</span>
            <span class="post_type"><i class="icon-calendar"></i> Event</span>
          </p>
        </div>
      </header>
      <div class="divider-horizontal"></div>
      <div class="post_body">
        <p>
          Extension of my life - The Internet - also the place where I met most of these fabulous people through sheer...serendipity.
        </p>

      </div>
      <div class="post_comments">
        <div class="post_comments_inner">

          <p class="meta letter_pressed">
            <span class="comment_count"><i class=" icon-comments-alt"></i> 30 comments</span>
            <a href="#" class="comment_anchor"><i class="icon-caret-down"></i> see all</a>
          </p>
          <div class="post_comment">
            <a class="avatar">
              <img src="assets/image_4.jpg" width="32" height="32" class="avatar_shadow light-rounded" />
            </a>
            <div class="post_comment_data">
              <header>
                <h6 class="light_header ui-inline-text ui-inline letter_pressed"><a href="#">Cynthia</a></h6>
                <span class="meta letter_pressed time"> 12:30</span>
              </header>
              <p class="comment_body letter_pressed">
                I see dead deer on the back of trucks all the time right now.﻿
              </p>
            </div>
          </div>
          <div class="divider-horizontal"></div>
          <div class="comment_input">
            <input class="" type="text" placeholder="Add a comment..."/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
<div class="span4 side_bar">
<div class=" trees">
  <header class="ui-mini-header letter_pressed">
    <h5 class="light_header p"><i class="icon-thumbs-up"></i> Recommended
    </h5>
  </header>
  <ul class="tree_list nav">
    <li class="info_block">
      <a class="avatar">
        <img src="assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>
    <li class="info_block">
      <a class="avatar">
        <img src="assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>
    <li class="info_block">
      <a class="avatar">
        <img src="assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>

    <li class="info_block">
      <a class="avatar">
        <img src="assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Glo Mobile</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>
  </ul>
  <p class="meta anchor">
    <span class="badge badge-warning">13</span> more
    <a href="#" class=""> see all <i class="icon-caret-down"></i></a>
  </p>
</div>

<div class=" trees">
  <header class="ui-mini-header letter_pressed">
    <h5 class="light_header p"><i class="icon-money"></i> Sponsored
    </h5>
  </header>
  <ul class="tree_list nav">
    <li class="info_block">
      <a class="avatar">
        <img src="assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>
    <li class="info_block">
      <a class="avatar">
        <img src="assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>
    <li class="info_block">
      <a class="avatar">
        <img src="assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>

    <li class="info_block">
      <a class="avatar">
        <img src="assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="info">
        <h6 class="light_header ui-inline-text"><a href="#">Glo Mobile</a></h6>
        <p class="meta">
          <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
          <span class="dot"></span>
          <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
        </p>
        <div class="categories">
          <p class=" meta">Categories:
            <a href="#">Education</a>,
            <a href="#">Sports</a>
          </p>
        </div>
      </div>
    </li>
  </ul>
  <p class="meta anchor">
    <span class="badge badge-warning">13</span> more
    <a href="#" class=""> see all <i class="icon-caret-down"></i></a>
  </p>
</div>

<div class="users">
  <header class="ui-mini-header letter_pressed">
    <h5 class="light_header p"><i class=" icon-group"></i> Connect With...
    </h5>
  </header>
  <ul class="lv">
    <li class="user">
      <a class="avatar">
        <img src="assets/image_6.jpg" height="50" width="50">
      </a>
      <div class="uinfo">
        <h6 class="light_header ui-inline-text"><a href="#">Samuel Peter</a></h6>
        <p class="meta">joined <span class="date"> 2 years ago,</span> <a href="#">branch manager.</a></p>

      </div>
    </li>
  </ul>
  <p class="meta anchor">
    <span class="badge badge-warning">13</span> more
    <a href="#" class=""> see all <i class="icon-caret-down"></i></a>
  </p>
</div>
</div>
</div>
</div>
</section>
<aside class="right_panel">
  <div class="inner">
    <a class="brand">
      <img src="assets/gutress.png" />
    </a>
    <div class="ad">
      <img src="assets/image_9.jpg" />
    </div>
  </div>
</aside>
</div>
</div>  </div>