  <div class="secondary_nav">
  <div class="top_panel">
  <div class="container-fluid">
  <div class="stamp">
           <div class="btm_shadow_l">
             <div class="shadow-top"></div>
           </div>
           <div class="stamp_wrap">
             <div class="stamp_tp"></div>
             <div class="stamp_bt"></div>
             <div class="stamp_ct">
               <img src="assets/avatar.jpg" width="140" height="140">
             </div>
           </div>
         </div>
     <div class="user_tp letter_pressed">
       <div class="user_meta">
         <span class="btn-group">
           <a class="btn dropdown-toggle " data-toggle="dropdown" href="#">
             Action
             <span class="caret"></span>
           </a>
           <ul class="dropdown-menu">
             <!-- dropdown menu links -->
           </ul>
         </span>

       </div>
       <form class="form-inline search pull-left">
         <div class="input-append">
           <input type="text" class="input-xlarge" placeholder="search">
           <button type="submit" class="btn"><i class="icon-search"></i></button>
         </div>
       </form>
       <h5 class="light_header name ui-text-inline"> Paul Smith</h5>
       <div class="btm_shadow_r span10">
         <div class="shadow-top"></div>
       </div>
       </div>


     </div>
  </div>
  <div class="container-fluid">
  <div class="row-fluid a_main user">
    <aside class=" left_panel">
      <div class="shadow-top"></div>
      <div class="left_panel_wrap">
       <div class="inner">

         <div class="a_info">
         <div class="a_nav">
           <div class="divider-horizontal"></div>
           <ul class="nav nav-list">
             <li class="active">
              <a href="#">
                <i class="icon-th-list"></i>
                 Latest
              </a>
             </li>
             <li><a href="#">
               <i class="icon-bookmark"></i> Bookmarks </a></li>
             <li><a href="#"><i class="icon-leaf"></i>&nbsp;Branch ins<label class="badge badge-warning">68</label></a></li>
             <li>
               <a href="#">
               <i class="icon-save"></i>&nbsp;Saved <label class="badge">0</label>

             </a>
             </li>
             <li><a href="#"><i class="icon-sitemap"></i>&nbsp; My Branches<label class="badge badge-success">68</label></a></li>
           </ul>
           <div class="divider-horizontal"></div>
           <div class="btns">
           <a href="#" class="btn btn-warning btn-block"><i class="icon-plus"></i> create a branch</a>
           </div>
           <div class="divider-horizontal"></div>
           </div>
         </div>
       </div>
      </div>
    </aside>
    <section class=" center_panel">
      <div class="container-fluid">
        <div class="row">
           <div class="span8 posts">
             <div class="post">
               <a class="avatar lt">
                 <img src="assets/image_8.jpg" class="avatar_shadow light-rounded" width="50px" height="50px"/>
               </a>
               <div class="post_container left_arrow">
                 <header>
                   <div class="post_title">
                     <h5 class="light_header"><a href="#">Relevant to me for the month of October according to Google.</a></h5>
                     <p class=" meta">
                       <span class="time" title="2nd October, 2012"><i class="icon-time"></i>15:55 </span>
                       <span class="separator">&nbsp;  |  &nbsp;</span>
                       <span class="post_type"><i class="icon-picture"></i> Photo</span>
                     </p>
                   </div>
                 </header>
                 <div class="divider-horizontal"></div>
                 <div class="post_body">
                   <p>
                     Extension of my life - The Internet - also the place where I met most of these fabulous people through sheer....
                   </p>

                 </div>
                 <a class="post_image">
                   <div class="shadow-top"></div>
                   <img src="assets/image_6.jpg"/>
                 </a>
                 <div class="read-more">
                     <span class="meta ">
                      <span class="badge badge-warning">13</span> <i class="icon-comments"></i> comments
                       <a href="#" class="important_link">Read more <i class="icon-caret-right"></i></a>
                     </span>
                 </div>
               </div>
             </div>
           </div>
           <div class="span4 side_bar">
             <div class=" trees">
               <header class="ui-mini-header letter_pressed">
                 <h5 class="light_header p"><i class="icon-thumbs-up"></i> Recommended
                 </h5>
               </header>
               <ul class="tree_list nav">
                 <li class="info_block">
                   <a class="avatar">
                     <img src="assets/image_6.jpg" height="50" width="50">
                   </a>
                   <div class="info">
                     <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
                     <p class="meta">
                       <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
                       <span class="dot"></span>
                       <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
                     </p>
                     <div class="categories">
                       <p class=" meta">Categories:
                         <a href="#">Education</a>,
                         <a href="#">Sports</a>
                       </p>
                     </div>
                   </div>
                 </li>
                 <li class="info_block">
                   <a class="avatar">
                     <img src="assets/image_6.jpg" height="50" width="50">
                   </a>
                   <div class="info">
                     <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
                     <p class="meta">
                       <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
                       <span class="dot"></span>
                       <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
                     </p>
                     <div class="categories">
                       <p class=" meta">Categories:
                         <a href="#">Education</a>,
                         <a href="#">Sports</a>
                       </p>
                     </div>
                   </div>
                 </li>
                 <li class="info_block">
                   <a class="avatar">
                     <img src="assets/image_6.jpg" height="50" width="50">
                   </a>
                   <div class="info">
                     <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
                     <p class="meta">
                       <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
                       <span class="dot"></span>
                       <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
                     </p>
                     <div class="categories">
                       <p class=" meta">Categories:
                         <a href="#">Education</a>,
                         <a href="#">Sports</a>
                       </p>
                     </div>
                   </div>
                 </li>

                 <li class="info_block">
                   <a class="avatar">
                     <img src="assets/image_6.jpg" height="50" width="50">
                   </a>
                   <div class="info">
                     <h6 class="light_header ui-inline-text"><a href="#">Glo Mobile</a></h6>
                     <p class="meta">
                       <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
                       <span class="dot"></span>
                       <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
                     </p>
                     <div class="categories">
                       <p class=" meta">Categories:
                         <a href="#">Education</a>,
                         <a href="#">Sports</a>
                       </p>
                     </div>
                   </div>
                 </li>
               </ul>
               <p class="meta anchor">
                 <span class="badge badge-warning">13</span> more
                 <a href="#" class=""> see all <i class="icon-caret-down"></i></a>
               </p>
             </div>

             <div class=" trees">
               <header class="ui-mini-header letter_pressed">
                 <h5 class="light_header p"><i class="icon-money"></i> Sponsored
                 </h5>
               </header>
               <ul class="tree_list nav">
                 <li class="info_block">
                   <a class="avatar">
                     <img src="assets/image_6.jpg" height="50" width="50">
                   </a>
                   <div class="info">
                     <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
                     <p class="meta">
                       <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
                       <span class="dot"></span>
                       <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
                     </p>
                     <div class="categories">
                       <p class=" meta">Categories:
                         <a href="#">Education</a>,
                         <a href="#">Sports</a>
                       </p>
                     </div>
                   </div>
                 </li>
                 <li class="info_block">
                   <a class="avatar">
                     <img src="assets/image_6.jpg" height="50" width="50">
                   </a>
                   <div class="info">
                     <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
                     <p class="meta">
                       <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
                       <span class="dot"></span>
                       <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
                     </p>
                     <div class="categories">
                       <p class=" meta">Categories:
                         <a href="#">Education</a>,
                         <a href="#">Sports</a>
                       </p>
                     </div>
                   </div>
                 </li>
                 <li class="info_block">
                   <a class="avatar">
                     <img src="assets/image_6.jpg" height="50" width="50">
                   </a>
                   <div class="info">
                     <h6 class="light_header ui-inline-text"><a href="#">Samsung Nigeria</a></h6>
                     <p class="meta">
                       <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
                       <span class="dot"></span>
                       <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
                     </p>
                     <div class="categories">
                       <p class=" meta">Categories:
                         <a href="#">Education</a>,
                         <a href="#">Sports</a>
                       </p>
                     </div>
                   </div>
                 </li>

                 <li class="info_block">
                   <a class="avatar">
                     <img src="assets/image_6.jpg" height="50" width="50">
                   </a>
                   <div class="info">
                     <h6 class="light_header ui-inline-text"><a href="#">Glo Mobile</a></h6>
                     <p class="meta">
                       <span class="tree"><i class=" icon-sitemap"></i> <span class=""> 51</span></span>
                       <span class="dot"></span>
                       <span class="leaf"><i class="icon-leaf"></i> <span class=""> 68</span></span>
                     </p>
                     <div class="categories">
                       <p class=" meta">Categories:
                         <a href="#">Education</a>,
                         <a href="#">Sports</a>
                       </p>
                     </div>
                   </div>
                 </li>
               </ul>
               <p class="meta anchor">
                 <span class="badge badge-warning">13</span> more
                 <a href="#" class=""> see all <i class="icon-caret-down"></i></a>
               </p>
             </div>

             <div class="users">
               <header class="ui-mini-header letter_pressed">
                 <h5 class="light_header p"><i class=" icon-group"></i> Connect With...
                 </h5>
               </header>
               <ul class="lv">
               <li class="user">
                 <a class="avatar">
                   <img src="assets/image_6.jpg" height="50" width="50">
                 </a>
                 <div class="uinfo">
                   <h6 class="light_header ui-inline-text"><a href="#">Samuel Peter</a></h6>
                   <p class="meta">joined <span class="date"> 2 years ago,</span> <a href="#">branch manager.</a></p>

                 </div>
               </li>
             </ul>
               <p class="meta anchor">
                 <span class="badge badge-warning">13</span> more
                 <a href="#" class=""> see all <i class="icon-caret-down"></i></a>
               </p>
             </div>
           </div>
        </div>
      </div>
    </section>
    <aside class="right_panel">
      <div class="inner">
        <a class="brand">
          <img src="assets/gutress.png" />
        </a>
        <div class="ad">
          <img src="assets/image_9.jpg" />
        </div>
      </div>
    </aside>
  </div>
 </div>  </div>