<li><%= link_to "Start A branch", new_branch_path %></li>
<li><%= link_to "About us", about_us_url %></li>
<li><%= link_to "Terms And conditions", terms_url %></li>
<li><%= link_to "Privacy and Policies", policy_url %></li>