<% if flash.any? %>
<div class="row notice">
  <div class="span12">
        <div class="notice">
          <% flash.each do |name, msg| %>
              <div class="alert alert-<%= name == :notice ? "info" : "error" %>">
                <a class="close" data-dismiss="alert">×</a>
                <%= msg %>
              </div>
          <% end %>
        </div>
  </div>
</div>
<% end %>