<div id="post-modal" class="modal hide fade">
  <%= simple_form_for [branch, @broadcast], :remote => true do |f| %>
  <div class="modal-header">
    <h5 class="light_header ui-text-inline letter_pressed">What's new?
      <div class="controls btn-group pull-right">
        <a href="#" class="btn" onclick="$('#photo-block').toggle('slide')"><i class="icon-picture"></i></a>
      </div></h5>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="shadow-wrap">
      <div class="shadow-top"></div>
    </div>
  </div>
  <div class="modal-body ">
    <div class="post_input_container">
      <div class="post_input_inner">
        <div class="post_input">
          <div class="post_input_title">
            <%= f.input :title %>
          </div>
          <div class="post_input_body">
            <%= f.input :message, label: "description" %>
          </div>
          <div id="photo-block" style="display:none;">
            <%= f.input :photo, label: "Add Photo", as: :file  %>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="shadow-wrap">
      <div class="shadow-bottom"></div>
    </div>
    <button class="btn btn-info" type="submit" id="id_attach" onclick="$('.Broadcasting-link2').(); $('.Broadcasting-link').show(); $('#id_attach').addClass('disabled')">
      <i class="icon-share-alt"></i>
      <span class="Broadcasting-link" style="display: none;">Broadcasting... please wait</span>
      <span class="Broadcasting-link2">Broadcast</span>
    </button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
  <% end %>
</div>
